/* html {
  font-size: 16px;
}

.parent {
  width: 300px;
  height: 200px;
  background-color: royalblue;
  font-size: 10px;
}
.child {
  width: 50vw;
  height: 50vh;
  background-color: orange;
} */
.container .item {
  width: 100px;
  height: 100px;
  background-color: orange;
}

.container .item:first-child {
  border: 10px none orange;
}
